{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'home.css' %}" />
{% endblock %}

{% block content %}
  <div class="hero">
    <h2>Welcome to the Movie Database</h2>
    <p>Your one-stop destination for your favorite movies.</p>
  </div>

  <div class="movies">
    <h2>Trending Movies</h2>
    <div class="movie-grid">
      {% for movie in top_movies %}
        <div class="movie-card">
          <a href="{% url 'movie_info' movie.id %}"><h3>{{ movie.title }}</h3></a>
          <p>Average Rating: {{ movie.average_rating|default:'No ratings yet' }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="about">
    <h3>About the Project</h3>
    <p>This application was developed for the WWW Application Course during the winter semester of 2024/25 at the Faculty of Mathematics and Information Science at Warsaw University of Technology. It serves as a practical project, combining web development techniques learned throughout the course.</p>
  </div>
{% endblock %}
