{% extends 'base.html' %}
{% load static %}

{% block title %}
  Reset password - Movie Database
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'password_reset.css' %}" />
{% endblock %}

{% block content %}
<div class="reset-container">
    <h2>Forgot Password?</h2>
    <form action="{% url 'password_reset' %}" method="post">
      {% csrf_token %}
      <input type="email" name="email" placeholder="Enter your email" required />
      <button type="submit">Reset password</button>
      <p>
        Don't have an account? <a href="{% url 'register' %}">Register</a>
      </p>
    </form>
  </div>  
{% endblock %}
