{% extends 'base.html' %}
{% load static %}
{% block title %}
  Set New Password - Movie Database
{% endblock %}

{% block content %}
  <div class="reset-container">
    <h2>Set a New Password</h2>
    <form action="" method="post">
      {% csrf_token %}
      <input type="password" name="new_password1" placeholder="Enter new password" required />
      <input type="password" name="new_password2" placeholder="Confirm new password" required />
      <button type="submit">Set Password</button>
    </form>
  </div>
{% endblock %}
