body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container input[type='text'],
.login-container input[type='password'] {
    width: 200px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #444;
    border-radius: 5px;
}

.login-container button {
    width: 200px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.login-container button:hover {
    background-color: #575757;
}

.login-container h2 {
    margin: 0 0 15px;
}

.login-container a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease-in-out;
}

.login-container a:hover {
    color: #575757;
    text-decoration: underline;
}

.login-container p {
    font-size: 14px;
    color: #333;
}