/* General body styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
}

/* Ensure that all elements, including ::before and ::after, follow the box-sizing rule */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    position: fixed; /* Keeps the navbar at the top of the screen */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensures the navbar is always on top */
}

/* Site name styling */
.navbar .site-name {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

/* Navbar buttons container */
.navbar .nav-buttons {
    display: flex;
}

/* Individual button styling */
.navbar .nav-buttons a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
}

/* Button hover effect */
.navbar .nav-buttons a:hover {
    background-color: #575757;
    border-radius: 4px;
}

/* Wrapper for the content below the navbar */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    box-sizing: border-box;
    
}
/* Alerts container to keep the alerts at the top */
.alerts-container {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    text-align: center;
}

/* Custom styling for alert messages */
.alert {
    width: 100%;
    background-color: #fff8c4; /* Light yellow background */
    border: 2px solid #ffeb3b; /* Bright yellow border */
    color: #333; /* Dark text color for readability */
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    box-sizing: border-box;
    position: relative;
}

/* Alert close button positioning */
.alert .close {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #333; /* Color of the close button */
    font-size: 20px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: bottom;
    bottom: 0;
    width: 100%;
}

.footer-content p {
    margin: 5px 0;
}

.footer-content a {
    color: #f4f4f4;
    text-decoration: none;
}


html {
    scroll-behavior: smooth;
}