.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.profile-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
}

.profile-table thead {
    background-color: #555;
    color: #ffffff;
}

.profile-table th {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 2px solid #dee2e6;
}

.profile-table td {
    padding: 10px 15px;
    border-bottom: 1px solid #dee2e6;
}

.profile-table tbody tr:hover {
    background-color: #f2f2f2;
}

.profile-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.profile-table tfoot {
    background-color: #f8f9fa;
    font-weight: bold;
}

.profile-table a {
    color: #444;
}

.profile-table a:hover{
    color: #7a7a7a;
}

@media (max-width: 600px) {
    .profile-table {
        font-size: 14px;
    }

    .profile-table th,
    .profile-table td {
        padding: 8px;
    }
}

.bookmark-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333;
}

.bookmark-btn:hover {
    color: #7a7a7a;
}

.bookmark-btn i {
    margin-right: 5px;
}

.bookmark-btn {
    padding: 2px;
}

.bookmark-btn i {
    font-size: 20px;
}