.filter-container {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-group {
    margin-right: 20px;
}

.form-control,
.form-range {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 5px;
}

.filter-button {
    width: 150px;
    height: 40px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.movie-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
}

.movie-table thead {
    background-color: #555;
    color: #ffffff;
}

.movie-table th {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 2px solid #dee2e6;
}

.movie-table td {
    padding: 10px 15px;
    border-bottom: 1px solid #dee2e6;
}

.movie-table tbody tr:hover {
    background-color: #f2f2f2;
}

.movie-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.movie-table tfoot {
    background-color: #f8f9fa;
    font-weight: bold;
}

.movie-table a {
    color: #444;
}

.movie-table a:hover {
    color: #7a7a7a;
}

@media (max-width: 600px) {
    .movie-table {
        font-size: 14px;
    }

    .movie-table th,
    .movie-table td {
        padding: 8px;
    }
}


.bookmark-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333;
}

.bookmark-btn:hover {
    color: #7a7a7a;
}

.bookmark-btn.bookmarked {
    color: #333;
}

.bookmark-btn.bookmarked:hover {
    color: #7a7a7a;
}

.bookmark-btn i {
    margin-right: 5px;
}

.bookmark-btn {
    padding: 2px;
}

.bookmark-btn i {
    font-size: 20px;
}

.add-movie {
    background-color: #333;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
}

.add-movie:hover {
    background-color: #575757;
}

.add-movie-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}